body {
    text-align: center;
    background: aqua;
}

#intro {
    font-size: 25px;
    font-family: bold;
    text-align: center;
}
#british{
    height:300px;
    width:400px;
}
#award{
    height:300px;
    width:400px;
}